@import url(di.css);

/* Estilos para el elemento nav */
nav {
    position: relative; /* Esto es necesario para que los elementos con posición absoluta se posicionen correctamente dentro de nav */
    background-color: var(--color-background);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el logo y nombre */
nav .logo_2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: white;
}

nav .logo_2 img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

nav .logo_2 h2 {
    margin: 0;
    font-size: 1.4rem;
}

/* Estilos para la sección de la derecha */
nav .right-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* Estilos para el saludo y la foto de perfil */
nav .profile {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espacio entre el saludo y la foto de perfil */
}

nav .profile .profile-photo {
    display: flex;
    align-items: center;
}

nav .profile .profile-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}
nav button{
    display: none;
}

/* Estilos para el modo oscuro */
nav .dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-left: 60%;
}

nav .dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .dark-mode span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}


/* Media Queries para nav */
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        grid-template-columns: 1fr;
        padding:0 var(--padding-1);
    }

    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    nav .logo_2 {
        margin-left: 1rem;
    }

    aside .logo_2 h2{
        display: inline;
    }
    
    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;   
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }
    .right-section {
        width: 94%;
        margin-left: 0 auto 4rem;
    }

    nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    nav .profile .info{
        display: none;
    }

}