@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;/* convierte en mayusculas la primera letra de un texto*/
}

.contenedor-producto{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;

}

.contenedor-producto .productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /* Corrección aquí */
    gap: 2rem;
}
